.main .starBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .starBar .four {
  margin-right: 10px;
  margin-bottom: 25px;
  border: 1px solid #e3e3e3;
  width: 106px;
}

.main .starBar .four .one1 {
  background-color: #e3e3e3;
}

.main .starBar .four .one1 .far {
  margin: 0px;
  cursor: pointer;
}

.main .starBar .three {
  margin-right: 10px;
  margin-bottom: 25px;
  border: 1px solid #e3e3e3;
  width: 116px;
}

.main .starBar .three .one1 {
  background-color: #e3e3e3;
  border: 1px solid yellow;
}

.main .starBar .three .one1 .far {
  margin: 0px;
  cursor: pointer;
}

.main .starBar .two {
  margin-right: 10px;
  margin-bottom: 25px;
  border: 1px solid #e3e3e3;
  width: 116px;
}

.main .starBar .two .one1 {
  background-color: #e3e3e3;
  border: 1px solid black;
}

.main .starBar .two .one1 .far {
  margin: 0px;
  cursor: pointer;
}

.main .starBar .one {
  margin-right: 10px;
  margin-bottom: 25px;
  border: 1px solid #e3e3e3;
  width: 116px;
}

.main .starBar .one .one1 {
  background-color: #a5b1c2;
  border: 1px solid #ccc;
}

.main .starBar .one .one1 .far {
  cursor: pointer;
}

.main .starBar .zero {
  margin-bottom: 25px;
  border: 1px solid #e3e3e3;
  width: 116px;
}

.main .starBar .zero .one1 {
  background-color: tomato;
  border: 1px solid #ccc;
}

.main .starBar .zero .one1 .fas {
  cursor: pointer;
}

.main .progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .progressBar .Progress1 {
  margin-right: 15px;
  width: 150px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
}

.main .progressBar .Progress1 .p1 {
  width: 37.5px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #009432;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main .progressBar .Progress1:hover .p1 {
  width: 150px;
  background-color: #6ab04c;
}

.main .progressBar .Progress2 {
  margin-right: 15px;
  width: 150px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
}

.main .progressBar .Progress2 .p1 {
  width: 45px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #22a6b3;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main .progressBar .Progress2:hover .p1 {
  width: 150px;
  background-color: #6ab04c;
}

.main .progressBar .Progress3 {
  margin-right: 15px;
  width: 150px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
}

.main .progressBar .Progress3 .p1 {
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #f9ca24;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main .progressBar .Progress3:hover .p1 {
  width: 150px;
  background-color: #6ab04c;
}

.main .progressBar .Progress4 {
  margin-right: 15px;
  width: 150px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
}

.main .progressBar .Progress4 .p1 {
  width: 75px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #EA2027;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main .progressBar .Progress4:hover .p1 {
  width: 150px;
  background-color: #6ab04c;
}

.main .progressBar .Progress5 {
  margin-right: 15px;
  width: 150px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  color: #fff;
}

.main .progressBar .Progress5 .p1 {
  width: 90px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #A3CB38;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main .progressBar .Progress5:hover .p1 {
  width: 150px;
  background-color: #4a7e33;
}

.main .progressBar .Progress6 {
  margin-right: 15px;
  width: 150px;
  height: 15px;
  background-color: #e3e3e3;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  color: #fff;
}

.main .progressBar .Progress6 .p1 {
  width: 105px;
  height: 20px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  background-color: #eb4d4b;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.main .progressBar .Progress6:hover .p1 {
  width: 150px;
  background-color: #6ab04c;
}

.main .buttonBar {
  margin-top: 10px;
}

.main .buttonBar button {
  width: 80px;
  height: 35px;
  margin-bottom: 10px;
}

.main .buttonBar .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .buttonBar .block .blockBar {
  width: 100px;
  height: 180px;
  margin-bottom: 10px;
}

.main .buttonBar .block .blockBar button {
  background-color: chartreuse;
  color: #fff;
}

.main .buttonBar .block .blockBar1 {
  width: 100px;
  height: 180px;
  margin-bottom: 10px;
}

.main .buttonBar .block .blockBar1 button {
  border-radius: 5px;
  background-color: coral;
  color: #fff;
}

.main .buttonBar .block .blockBar2 {
  width: 100px;
  height: 180px;
  margin-bottom: 10px;
}

.main .buttonBar .block .blockBar2 button {
  background-color: red;
  color: #fff;
}

.main .buttonBar .block .blockBar3 {
  width: 100px;
  height: 180px;
  margin-bottom: 10px;
}

.main .buttonBar .block .blockBar3 button {
  background-color: #8854d0;
  color: #fff;
}

.main .PicsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .PicsBlock .chrome {
  margin-right: 25px;
}

.main .PicsBlock .chrome img {
  width: 100px;
  height: 100px;
}

.main .PicsBlock .chrome p {
  cursor: pointer;
  font-size: 22px;
  color: #ff6b81;
}

.main .PicsBlock .chrome p a {
  text-decoration: none;
}

.main .PicsBlock .firefox {
  margin-right: 25px;
}

.main .PicsBlock .firefox img {
  width: 100px;
  height: 100px;
}

.main .PicsBlock .firefox p {
  cursor: pointer;
  font-size: 22px;
  color: #e67e22;
}

.main .PicsBlock .firefox p a {
  text-decoration: none;
}

.main .PicsBlock .opera {
  margin-right: 25px;
}

.main .PicsBlock .opera img {
  width: 100px;
  height: 100px;
}

.main .PicsBlock .opera p {
  cursor: pointer;
  font-size: 22px;
  color: #e17055;
}

.main .PicsBlock .opera p a {
  text-decoration: none;
}

.main .PicsBlock .safari {
  margin-right: 705px;
}

.main .PicsBlock .safari img {
  width: 100px;
  height: 100px;
}

.main .PicsBlock .safari p {
  cursor: pointer;
  font-size: 22px;
  color: #00cec9;
}

.main .PicsBlock .safari p a {
  text-decoration: none;
}

.main .PicsBlock .internet img {
  width: 100px;
  height: 100px;
}

.main .PicsBlock .internet p {
  cursor: pointer;
  font-size: 22px;
  color: blue;
}

.main .PicsBlock .internet p a {
  text-decoration: none;
}

.main .textForm h1 {
  font-size: 24px;
}

.main .textForm .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .textForm .text .first p {
  width: 750px;
  font-size: 14px;
}

.main .textForm .text .second p {
  width: 550px;
  font-size: 14px;
  margin-bottom: auto;
}

.main .textForm .text .second ol {
  margin-top: 0px;
  list-style-type: none;
}

.main .textForm .text .second ol li {
  font-size: 14px;
}

.main .textForm .text .second ol li a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */