.main{
    .starBar{
        display: flex;
        .four{
            margin-right: 10px;
            margin-bottom: 25px;
            border: 1px solid #e3e3e3;
            width: 106px;
            .one1{
               background-color: #e3e3e3;
                // border: 1px solid yellow;
                .far{
                    margin: 0px;
                    cursor: pointer;
                }
            }
        }

        .three{
            margin-right: 10px;
            margin-bottom: 25px;
            border: 1px solid #e3e3e3;
            width: 116px;
            .one1{
               background-color: #e3e3e3;
                border: 1px solid yellow;
                .far{
                    margin: 0px;
                    cursor: pointer;
                }
            }
        }

        .two{
            margin-right: 10px;
            margin-bottom: 25px;
            border: 1px solid #e3e3e3;
            width: 116px;
            .one1{
               background-color: #e3e3e3;
                border: 1px solid black;
                .far{
                    margin: 0px;
                    cursor: pointer;
                }
            }
        }

        .one{
            margin-right: 10px;
            margin-bottom: 25px;
            border: 1px solid #e3e3e3;
            width: 116px;
            .one1{
               background-color: #a5b1c2;
                border: 1px solid #ccc;
                .far{
                    cursor: pointer;
                }
            }
        }
        
        .zero{
            margin-bottom: 25px;
            border: 1px solid #e3e3e3;
            width: 116px;
            .one1{
                background-color: tomato;
                border: 1px solid #ccc;
                .fas{
                    cursor: pointer;                   
                }
            }
        }
    }



  .progressBar{
        display: flex;
        .Progress1{
            margin-right: 15px;
            width: 150px;
            height: 15px;
            background-color: #e3e3e3;
            border-radius: 20px;
            overflow: hidden;
            color: #fff;
            .p1{
                width: 37.5px;
                height: 20px;
                text-align: center;
                    font-size: 11px;
                    font-family: sans-serif;
                background-color:#009432;
                transition: all 1s linear;
            }
            &:hover .p1{
                width: 150px;
                background-color:#6ab04c;
            }

        }
        .Progress2{
            margin-right: 15px;
            width: 150px;
            height: 15px;
            background-color:  #e3e3e3;
            border-radius: 20px;
            overflow: hidden;
            color: #fff;
            .p1{
                width: 45px;
                height: 20px;
                text-align: center;
                    font-size: 11px;
                    font-family: sans-serif;
                background-color: #22a6b3;
                transition: all 1s linear;
            }
            &:hover .p1{
                width: 150px;
                background-color:#6ab04c;
            }

        }
        .Progress3{
            margin-right: 15px;
            width: 150px;
            height: 15px;
            background-color:  #e3e3e3;
            border-radius: 20px;
            overflow: hidden;
            color: #fff;
            .p1{
                width: 60px;
                height: 20px;
                text-align: center;
                    font-size: 11px;
                    font-family: sans-serif;
                background-color: #f9ca24;
                transition: all 1s linear;
            }
            &:hover .p1{
                width: 150px;
                background-color:#6ab04c;
            }

        }
        .Progress4{
            margin-right: 15px;
            width: 150px;
            height: 15px;
            background-color:  #e3e3e3;
            border-radius: 20px;
            overflow: hidden;
            color: #fff;
            .p1{
                width: 75px;
                height: 20px;
                text-align: center;
                    font-size: 11px;
                    font-family: sans-serif;
                background-color: #EA2027;
                transition: all 1s linear;
            }
            &:hover .p1{
                width: 150px;
                background-color:#6ab04c;
            }

        }
        .Progress5{
            margin-right: 15px;
            width: 150px;
            height: 15px;
            background-color: #e3e3e3;
            border-radius: 0px 20px 20px 0px;
            overflow: hidden;
            color: #fff;
            .p1{
                width: 90px;
                height: 20px;
                text-align: center;
                    font-size: 11px;
                    font-family: sans-serif;
                background-color: #A3CB38;
                transition: all 1s linear;
            }
            &:hover .p1{
                width: 150px;
                background-color:#4a7e33;
            }

        }
        .Progress6{
            margin-right: 15px;
            width: 150px;
            height: 15px;
            background-color:  #e3e3e3;
            border-radius: 0px 20px 20px 0px;
            overflow: hidden;
            color: #fff;
            .p1{
                width: 105px;
                height: 20px;
                text-align: center;
                    font-size: 11px;
                    font-family: sans-serif;
                background-color: #eb4d4b;
                transition: all 1s linear;
            }
            &:hover .p1{
                width: 150px;
                background-color:#6ab04c;
            }

        }
        
    }
    .buttonBar{
       
        margin-top: 10px;
        button{
            width: 80px;
            height: 35px;
            margin-bottom: 10px;
        }
        
        .block{
            display: flex;
            .blockBar{
                width: 100px;
                height:  180px;
                margin-bottom: 10px;
               button{
                   background-color: chartreuse;
                   color: #fff;
               }
            }
            .blockBar1{
                width: 100px;
                height:  180px;
                margin-bottom: 10px;
               button{
                   border-radius: 5px;
                   background-color: coral;
                   color: #fff;
               }
            }
            .blockBar2{
                width: 100px;
                height:  180px;
                margin-bottom: 10px;
               button{
                  background-color: red;
                   color: #fff;
               }
            }
            .blockBar3{
                width: 100px;
                height:  180px;
                margin-bottom: 10px;
               button{
                  background-color:#8854d0;
                   color: #fff;
               }
            }
        }
    }
   .PicsBlock{
       display: flex;
       .chrome{
           margin-right: 25px;
           img{
               width: 100px;
               height: 100px;
           }
           p{
               cursor: pointer;
               font-size: 22px;
               color:#ff6b81;

               a{
                   text-decoration: none;
               }
           }
       }
       .firefox{
        margin-right: 25px;
           img{
            width: 100px;
            height: 100px;
           }
           p{
               a{
                   text-decoration: none;
               }
               cursor: pointer;
            font-size: 22px;
            color:#e67e22;
           }
       }
       .opera{
           margin-right: 25px;
           img{
            width: 100px;
            height: 100px; 
           }
           p{
               a{
                   text-decoration: none;
               }
               cursor: pointer;
            font-size: 22px;
            color: #e17055; 
           }
       }
       .safari{
           margin-right: 705px;
           img{
            width: 100px;
            height: 100px; 
           }
           p{
               a{
                   text-decoration: none;
               }
               cursor: pointer;
            font-size: 22px;
            color: #00cec9; 
           }
       }
       .internet{
           img{
            width: 100px;
            height: 100px; 
           }
           p{
               a{
                   text-decoration: none;
               }
               cursor: pointer;
            font-size: 22px;
            color:blue; 
           }
       }

   }
    .textForm{
        h1{
            font-size: 24px;
        }
        .text{
            display: flex;
            justify-content: space-between;
            .first{
                p{
                    width: 750px;
                    font-size: 14px;
                }
            }
            .second{
                p{
                    width: 550px;
                    font-size: 14px;
                    margin-bottom: auto;
                }
                ol{
                    margin-top: 0px;
                    list-style-type:none;
                    li{
                        font-size: 14px;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}